@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

form {
  height: 100vh;
  background: url("../../assets/img/rick-and-morty-login-img.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  font-family: "Delicious Handrawn", cursive;
  justify-content: space-between;
  color: #feeffd;
}

.welcome {
  width: 60vw;
  position: relative;
}

.welcome h1 {
  font-size: 4rem;
  padding: 1rem 2rem;
  text-align: center;
  background-image: linear-gradient(to left, #fa80fa, #00ffff);
  background-clip: text;
  color: transparent;
}

.welcome p {
  margin: auto 0;
  text-align: center;
  line-height: 1.8;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 2rem;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 1rem 1rem;
}

.login {
  background-color: #0d0944ce;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30vw;
  padding: 3rem 3rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 2);
  backdrop-filter: blur(4px);
}

.login h2 {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 400;
  text-decoration: underline;
  margin: 0;
}

.login button {
  border: none;
  width: 250px;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 40px;
  font-weight: 800;
  font-family: inherit;
  font-size: 1.5rem;
  color: #ebf3ff;
  letter-spacing: 3px;
  background-image: linear-gradient(104deg, #0e55a1, #1d185f);
}

.login button:hover {
  scale: 1.1;
  transform: translate3d(0, 10px, 0);
  transition: all 1s;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin: 9% auto;
  font-size: 1.4rem;
  width: 60%;
}

.inputBox input {
  margin-top: 10px;
  border: none;
  padding: 1rem;
  border-radius: 10px;
}

.author {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #747379;
}
