.container{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    justify-items: center;
    gap: 0.8rem 1rem;
}

.container input{
    grid-column: span 2;
}

.container button{
    border: none;
}
